.DS_Store
.AppleDouble
.LSOverride
.idea
*.pyc
__pycache__
.pytest_cache
.coverage
.coverage.*
./dist/
./build/
openrasp_iast.egg-info/
htmlcov
/log
/dist
/build
openrasp_iast/log
config.yaml
config.yaml*