.DS_Store
.AppleDouble
.LSOverride
.idea
.vscode
*.pyc
__pycache__
.pytest_cache
.coverage
.coverage.*
./dist/
./build/
openrasp_iast.egg-info/
htmlcov
/log
openrasp-iast-*
openrasp_iast/log
openrasp_iast/dist
openrasp_iast/build
/openrasp_iast/config.yaml
/openrasp_iast/config.yaml*
/config.yaml