<div class="row">
    <div class="col-xs-6">
        <h4>扫描任务列表</h4>
    </div>
    <div class="col-xs-2 checkbox icheck-info">
        <input type="checkbox" id="checkRefresh" class="styled"
               ng-checked="refreshFreq" ng-click="setRefreshFreq()">自动刷新
        <label for="checkRefresh"></label>
    </div>
    <div class="col-xs-2 checkbox icheck-info">
        <input type="checkbox" id="autoStart" class="styled"
               ng-checked="autoStartFlag" ng-click="autoStartTask()">自动启动扫描
        <label for="autoStart"></label>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-default pull-right" ng-click="refreshDriver()">
            <span class="fa fa-refresh" aria-hidden="true" aria-hidden="true"></span> 刷新
        </button>
    </div>
</div>
<br>
<div id="statistic">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th nowrap>目标</th>
                <th nowrap>状态</th>
                <th nowrap>进度</th>
                <th>最后收到任务</th>
                <th>进程资源消耗</th>
                <th nowrap>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="taskId in eachTask track by $index">

                <td>
                    {{data[taskId].host}}:{{data[taskId].port}}
                </td>
                <td ng-model="status" >
                    {{getTaskStatus(taskId)}}
                </td>
                <td>
                    {{data[taskId].scanned}}/{{data[taskId].total}}
                </td>
                <td>{{data[taskId].last_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                    <div ng-show="status == unscanned">—</div>
                    <div ng-show="status != unscanned">CPU {{data[taskId].cpu}} / MEM {{data[taskId].mem}}</div>
                </td>
                <td align="left">
                    <div class="" style="vertical-align:middle">
                        <button type="button" class="btn btn-primary" ng-model="status"
                                ng-click="stopTask(taskId)" ng-disabled="status == unscanned || loadIcon[taskId]"
                                ng-show="status != unscanned">
                            <i class="fas fa-spinner fa-spin" ng-show="loadIcon[taskId]"></i>
                            停止扫描
                        </button>
                        <button type="button" class="btn btn-primary" ng-model="status"
                                ng-click="startTask(taskId)" ng-disabled="status == running || loadIcon[taskId]"
                                ng-show="status == unscanned">
                            <i class="fas fa-spinner fa-spin" ng-show="loadIcon[taskId]"></i>
                            启动扫描
                        </button>
                        <button type="button" class="btn btn-default" data-toggle="modal"
                                data-target="#setConfigModal" ng-click="setTaskId(taskId)">
                            设置
                        </button>
                        <button type="button" class="btn btn-danger" ng-model="status"
                                ng-click="cleanTask(taskId, true)"
                                ng-show="status == unscanned">
                        清空队列
                        </button>
                        <button type="button" class="btn btn-danger" ng-model="status"
                                ng-click="cleanTask(taskId, false)"
                                ng-show="status == unscanned">
                        删除任务
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

     <div class="footer" align="center">
         <ul uib-pagination total-items="count" ng-model="currentPage" max-size="maxSize"
             items-per-page="perPageRecord" first-text="第一页" previous-text="上一页" next-text="下一页"
             last-text="最后页" boundary-links="true"
             boundary-link-numbers="true" ng-change="displayRecord()">
         </ul>
     </div>
</div>

<div class="modal fade" id="setConfigModal" tabindex="-1" role="dialog" aria-labelledby="setConfigModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="setConfigModalLabel">任务设置</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>请选择插件</label>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-4 checkbox icheck-info" ng-repeat="(key,value) in plugins track by key">
                                <input type="checkbox" id="{{key}}" class="styled"
                                       ng-checked="value.enable"
                                       ng-click="setPluginStatus(key)">
                                <label for="{{key}}">{{value.show_name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>url白名单正则（被正则命中的url不会被扫描, 正则会匹配request_uri部分, 例如 http://test.com/path/eg?p=1&b=2 会匹配 /path/example?p=1&b=2）</label>
                            <input type="text" class="form-control"
                                   id="urlWhiteRegex" ng-model="urlWhiteRegex">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>最大并发请求数</label>
                            <input type="number" class="form-control" id="concurrent"
                                   ng-model="concurrent" placeholder="20">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="minInterval" align="center">请求间隔(ms)</label>
                        </div>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="minInterval"
                                   ng-model="minInterval" placeholder="0">
                        </div>
                        <div class="col-sm-2 text-center">
                            <h5>～</h5>
                        </div>
                        <div class="col-sm-5">
                            <input type="number" class="form-control" id="maxInterval"
                                   ng-model="maxInterval" placeholder="1000">
                        </div>
                    </div>
                </form>
            </div>
                    <div class="modal-footer">

                            <button type="button" class="btn btn-primary pull-left"
                                    ng-click="setConfigTask(taskId)"
                                    data-dismiss={{modalDisplay}}>确定
                            </button>

                            <button type="button" class="btn btn-danger" ng-click="reset()"
                                    data-dismiss="modal">关闭</button>

                    </div>            
        </div>
    </div>
</div>
