.navbar {
    /*background-color: #0E1018;*/
    border-bottom: 1px solid rgba(220, 220, 220, 0.2);
    /*font-family: 'mnjxxk', Microsoft Yahei;*/
    /*font-family: OpenSans-Light, PingFang SC, Hiragino Sans GB, Microsoft Yahei, Microsoft Jhenghei, sans-serif;*/
    font-size: 16px;
}

body {
    /*min-height: 2000px;*/
    padding-top: 70px;
    /*font-family: OpenSans-Light, PingFang SC, Hiragino Sans GB, Microsoft Yahei, Microsoft Jhenghei, sans-serif;*/
    /*background-color: #1b1b1b;*/
}

form {
    /*color: #ffffff;*/
    /*background-color: #222;*/
}

.main-view {
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel-group {
    max-height: 1000px;
    overflow: auto;
}

.leftmenu {
    margin: 10px;
    margin-top: 5px;
}
.panel-heading {
    font-size: 14px;
    padding-left: 20px;
    height: 45px;
    line-height: 20px;
    color: #424242;
    position: relative;
    cursor: pointer;
}/*转成手形图标*/
.panel-heading span {
    position: absolute;
    right: 10px;
    top: 10px;
}
.menu-item-left {
    padding: 2px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 6px;
}
.menu-item-left:hover {
    background: #C4E3F3;
    border: 1px solid #1E90FF;
}

.btn {
    height: 32px;
}

thead tr th {
    background-color: #f1f1f1;
    border-bottom: none !important;
}

tbody tr td {
    vertical-align: middle !important;
}

